.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 60%;
}

.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 50%;
}