<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <img src="{{url_for('static', filename='nerddays_banner.png')}}" class="logo" />

    <div class="main">
        <p>Congratulations! You're one step closer to the invaluable treasure that is Kubernetes observability data! You've got this application running in Kubernetes—but this is no time to celebrate!</p>

        <p>Continue your quest, instrument your Kubernetes cluster, and watch as New Relic presents your data on a beautiful, intuitive, and interactive platter.</p>

        <p>We hope you're enjoying your experience and learning a lot along the way.</p>

        <p>Be excellent, and code on!</p>
    </div>
</body>

</html>